<div class="about-us-container">
    <h1 class="title">🌌 L'Équipage derrière le Code 🌌</h1>
    <div class="card-container">
      <div class="member-card">
        <img src="/elghali.JPG" alt="Belghmi Elghali" />
        <h2> Elghali, le Dompteurde Droïdes</h2>
        <p>
          Connu sous le nom de Belghmi Elghali, notre expert en protocoles galactiques, parle couramment le langage des machines.
          Grâce à sa précision digne d’un droïde impérial, aucun bug ne lui résiste.
        </p>
      </div>
  
      <div class="member-card">
        <img src="/ugo.jpg" alt="Ugo San-Nicolas" />
        <h2> General ugo</h2>
        <p>
          Ugo San-Nicolas,  c’est le commandant intrépide de notre flotte de code.
          Avec la sagesse d’un Maître Jedi et la stratégie d’un général chevronné, il guide notre vaisseau
          vers la réussite à la vitesse de la lumière.
        </p>
      </div>
    
      <div class="member-card">
        <img src="/tom.png" alt="Tom Bouchut" />
        <h2>Chasseur de Bugs Tom</h2>
        <p>
          Tom Bouchut est notre chasseur de bugs interstellaire. Rapide, autonome et toujours à l'affût,
          il code avec la fougue d’un pilote de podracer et la précision d’un sabre laser.
        </p>
      </div>
    </div>
  </div>
  