<div class="page-container">
    <h2 class="title">Espèces de l'univers</h2>
  
    <div class="species-grid">
      @for (specie of species; track specie) {
        <div class="species-card">
          <div class="card-header">
            <h3>{{ specie.name }}</h3>
          </div>
          <div class="card-body">
            <p><strong>Classification :</strong> {{ specie.classification }}</p>
            <p><strong>Désignation :</strong> {{ specie.designation }}</p>
            <p><strong>Taille moyenne :</strong> {{ specie.average_height }} cm</p>
            <p><strong>Durée de vie moyenne :</strong> {{ specie.average_lifespan }} ans</p>
            <p><strong>Langue :</strong> {{ specie.language }}</p>
            <p><strong>Planète d'origine :</strong> {{ specie.homeworldName || 'Inconnue' }}</p>
          </div>
        </div>
      }
    </div>
  </div>
  