<div class="starwars-container">

  <div class="content">

    <h1 class="title">🌠 Star Wars Galaxy</h1>

    <p class="subtitle">Bienvenue, jeune padawan. Prêt(e) à explorer l’univers ?</p>

 

    <div class="button-columns">

      <div class="column">

        <button class="explore-btn" [routerLink]="['/people']">👨🏿‍🦲 Explorer les personnages</button>

        <button class="explore-btn" [routerLink]="['/starships']">🚀 Explorer les vaisseaux</button>

        <button class="explore-btn" [routerLink]="['/planets']">🪐 Explorer les planètes</button>

      </div>

      <div class="column">

        <button class="explore-btn" [routerLink]="['/films']">🎬 Explorer les films</button>

        <button class="explore-btn" [routerLink]="['/species']">🐲 Explorer les espèces</button>

        <button class="explore-btn" [routerLink]="['/vehicles']">🚗 Explorer les véhicules</button>

      </div>

    </div>

  </div>

</div>